# macOS
.DS_Store
.DS_Store?

# Visual Studio / Rider
.vs/
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rch/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
*.db
*.sqlite
InternetTechLab1/scraped_data.json
*log.txt
